django
Pillow
paddlepaddle
paddleocr
opencv-python-headless
numpy
python-dotenv
gunicorn

psycopg2-binary
dj-database-url
# ====== REST API ======
djangorestframework
djangorestframework-simplejwt
django-cors-headers